{% load leaflet_tags %}

<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>World Borders</h1>
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {
        	var layer = L.geoJson();
			map.addLayer(layer);

        	var dataurl = '{% url "world:data" %}';
        	console.log(dataurl);

			$.getJSON(dataurl, function (data) {
			    layer.addData(data);
			});
        }
    </script>
  </body>
</html>