beautifulsoup4==4.6.0
Django==1.11.4
django-bootstrap4==0.0.3
django-filter==1.0.4
django-geojson==2.10.0
django-leaflet==0.22.0
django-multiselectfield==0.1.8
djangorestframework==3.6.4
djangorestframework-gis==0.11.2
drf-extensions==0.3.1
Markdown==2.6.9
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3.1
pytz==2017.2
six==1.10.0
