{% extends 'map/base.html' %}
{% load static %}

{% block content %}
  <div id="aboutPage" class="container">

    <div id="aboutTitleBlock" class="row">
      <div class="col">
        <h1 style="text-shadow: 1px 1px 1px #383838;">About Lakes of Texas</h1>
        <h6>v{{ version }}</h6>
      </div>
    </div>

    <div id="tableOfContents" class="row">
      <ol>
        <li >
          <a class="nav-link" href="#Purpose">Purpose</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#PlanningRegions">Planning Regions</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#DataSources">Data Sources</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#Acknowledge">Acknowledge</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#Contact">Contact</a>
        </li>
      </ol>
    </div>

    <div id="Purpose" class="row">
      <div class="col">
        <h2>Purpose</h2>
        <p>
          Welcome to Lakes of Texas! This web application serves as an interactive insight into the historical narrative of the lakes and reservoirs in the State of Texas for the purpose of general public education and understanding about our precious water resources. It is our hope to relay awareness and historical knowledge of the infinitely significant water bodies utilized by the citizens of Texas daily.
        </p>
        <p>
          Developed by the Texas Natural Resources Information System (TNRIS), a division of the Texas Water Development Board (TWDB), Lakes of Texas focuses on the water sources managed by the TWDB.
        </p>
        <p><a href="#topNav"><small>Back to Top</small></a></p>
      </div>
    </div>
    <!-- <div id="PlanningRegions" class="row">
      <div class="col">
        <h2>Planning Regions</h2>
        <h5>What are the Planning Regions?</h5>
        <p>The Planning Regions are the official boundaries designated by the TWDB for purposes of project and resources management. The regions are utilized within this application as a mechanism of organization for the numerous lakes and reservoirs represented while also serving as a tool of navigation for the user to apprehend the spatial context of the data.</p>
        <p>For more information regarding the Planning Regions and the water bodies and entities they encompass, please visit the <a href="https://2017.texasstatewaterplan.org/" target="_blank">Interactive Statewide Water Plan</a>.</p>
        <p><a href="#topNav"><small>Back to Top</small></a></p>
      </div>
    </div> -->
    <div id="DataSources" class="row">
      <div class="col">
        <h2>Data Sources</h2>
        <ul>
          <!-- <li>
            <p>Regions</p>
            <p>The Regions dataset was created and is maintained by the Texas Water Development Board. The geometry of this dataset embody the Planning Regions described above.</p>
          </li> -->
          <li>
            <p>Lakes &amp; Reservoirs</p>
            <p>The Lakes dataset was created and is maintained by the <a href="https://www.twdb.texas.gov/" target="_blank">Texas Water Development Board</a>. The dataset does not encompass every lake and reservoir within the State of Texas. Instead, the dataset focuses on the 188 water bodies significant to water supply and management for public and industrial purposes. Information regarding water supply and consumption for the State of Texas is greatly detailed within the <a href="https://2017.texasstatewaterplan.org/" target="_blank">Interactive Statewide Water Plan</a>.</p>
          </li>
          <!-- <li>
            <p>Boat Ramp, Channel Marker, Hazard, &amp; Park Overlays</p>
            <p>The overlay layers available within the lake story pages are composites from various regional and local authoritative sources across the State of Texas. This data was kindly supplied by the following entities:</p>
            <p>
              <ul>
                <li><a href="https://www.lcra.org/">LCRA - Lower Colorado River Authority</a> [Region K]</li>
              </ul>
            </p>
          </li> -->
          <li>
            <p>Historical Aerial Imagery</p>
            <p>The Historical Aerial Imagery layers are composite mosaics of scanned photography from the TNRIS historical aerial archive. All images were researched, scanned, compiled, georeferenced, and served by TNRIS. Imagery from the archive is available for public acquisition and consumption. It can be acquired through TNRIS' <a href="https://tnris.org/maps-and-data/research-and-distribution/" target="_blank">Research &amp; Distribution Center</a>.</p>
          </li>
        </ul>
        <p><a href="#topNav"><small>Back to Top</small></a></p>
      </div>
    </div>
    <!-- <div id="Acknowledge" class="row">
      <div class="col">
        <h2>Acknowledge</h2>
        <ul>
          <li>
            <p></p>
          </li>
        </ul>
      </div>
    </div> -->
    <div id="Contact" class="row">
      <div class="col">
        <h2>Contact</h2>
        <p>
        Lakes of Texas was developed and is maintained by the Texas Natural Resources Information System.
        </p>
        <p>
        If you have any questions or would like to report a bug, please contact us by completing the form at <a href="https://tnris.org/contact/" target="_blank">https://tnris.org/contact/</a>. Choose the option 'General Question or Comment'.
        </p>
        <p><a href="#topNav"><small>Back to Top</small></a></p>
      </div>
    </div>

    <div id="aboutLogoBlock" class="row">
      <div class="col"></div>
      <div id="aboutLogoLine" class="col-8">
        <div class="row">
          <div class="col">
            developed by <a href="https://tnris.org/" target="_blank"><img class="headerLogo" src="{% static 'map/images/tnris.png' %}" /></a>
          </div>
          <div class="col">
            a product of the <a href="https://www.twdb.texas.gov/" target="_blank"><img class="headerLogo" src="{% static 'map/images/twdb.png' %}" /></a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

  </div>
{% endblock %}
