{% load leaflet_tags %}
{% load static %}
{% load bootstrap4 %}


<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Texas Lake Gallery</title>

    {% leaflet_js %}
    {% leaflet_css %}

    <script type="text/javascript" src="{% static 'map/jquery-3.2.1.min.js' %}"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    <link rel="stylesheet" type="text/css" href="{% static 'map/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'map/bootstrap-slider/css/bootstrap-slider.min.css' %}" />
    <script type="text/javascript" src="{% static 'map/bootstrap-slider/bootstrap-slider.min.js' %}"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">

      <a class="navbar-brand" href="/">
        <img class="headerLogo" src="{% static 'map/images/texas_solid.png' %}" />
        Texas Lake Gallery
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Regions
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              {% for r in header_regions %}
                <a class="dropdown-item" href="/{{ r.letter }}">{{ r.name }}</a>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lakes
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              {% for l in header_lakes %}
                <a class="dropdown-item {{ l.class }}" href="/{{ l.region }}/{{ l.name }}">{{ l.name }}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
        <a href="https://www.twdb.texas.gov/"><img class="headerLogo" src="{% static 'map/images/twdb.png' %}" /></a>
        <a href="https://tnris.org/"><img class="headerLogo" src="{% static 'map/images/tnris.png' %}" /></a>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
  </body>
</html>