{% load static %}

{% block content %}


<form>
  <div class="form-group">
    <div class="form-row">
      <div class="col-md-6 mb-2">
        <label class="input-label" for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="firstName" required>
        <!-- <div class="invalid-feedback">First name is required.</div> -->
        <!-- <small id="firstNameHelp" class="form-text text-muted">First name is required to submit form.</small> -->
      </div>
      <div class="col-md-6 mb-2">
        <label class="input-label" for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" aria-describedby="lastName" required>
        <!-- <div class="invalid-feedback">Last name is required.</div> -->
        <!-- <small id="lastNameHelp" class="form-text text-muted">Last name is required to submit form.</small> -->
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-md-6 mb-2">
        <label class="input-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" required>
        <!-- <div class="invalid-feedback">A valid email address is required.</div> -->
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="col-md-6 mb-2">
        <label class="input-label" for="phone">Phone</label>
        <input type="tel" class="form-control" id="phone" aria-describedby="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
        <small id="phoneHelp" class="form-text text-muted">Enter number in format 123-456-7890. Phone number is not required to submit form.</small>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <label class="input-label" for="industry">Industry</label>
        <select class="form-control" id="industry">
          <option></option>
          <option>Agriculture</option>
          <option>Cartography</option>
          <option>Conservation</option>
          <option>Construction</option>
          <option>Consulting</option>
          <option>Education</option>
          <option>Emergency Management</option>
          <option>Environmental</option>
          <option>Forestry</option>
          <option>Government</option>
          <option>Insurance</option>
          <option>Law Enforcement</option>
          <option>Oil and Gas</option>
          <option>Public Health</option>
          <option>Retail</option>
          <option>Utilities</option>
          <option>Urban Planning</option>
        </select>
        <small id="emailHelp" class="form-text text-muted">Select your industry from the drop-down list. Not required to submit form.</small>
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col-md-12">
        <label class="input-label" for="lastName">Message</label>
        <textarea class="form-control" id="message" rows="5" aria-describedby="message" required></textarea>
        <!-- <div class="invalid-feedback">Message content is required.</div> -->
        <small id="emailHelp" class="form-text text-muted">Type your Lakes of Texas inquiry here.</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="submit center-block">
      <button class="btn btn-md btn-tnris btn-block" type="submit" onclick="contactSubmit()">
        Submit
      </button>
    </div>
  </div>
</form>

<script type="text/javascript">
  function contactSubmit() {
    const firstName = document.getElementById("firstName").value.trim();
    const lastName = document.getElementById("lastName").value.trim();
    const fullName = firstName + " " + lastName;
    const email = document.getElementById("email").value;
    const phone = document.getElementById("phone").value ? document.getElementById("phone").value : ""; // condition because this field is not required
    const industry = document.getElementById("industry").value ? document.getElementById("industry").value : ""; // condition because this field is not required
    const message = document.getElementById("message").value;

    // build the json formInfo variable based on input values from form
    const formInfo = {
      'Name': fullName,
      'Email': email,
      'Phone': phone,
      'Industry': industry,
      'Message': message,
      'form_id': 'lakes-of-texas'
    };

    console.log(formInfo);
  }

</script>

{% endblock %}
