{% extends 'map/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block content %}
    <div id="instructionModal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div id="instructionModalContent" class="modal-content">
          <div class="modal-body">
            <p>
              <strong style="color:red;">Please note that this application is currently in beta and is still undergoing final testing before its official release.</strong>
            </p>
            <h2 class="modal-title">Welcome to Lakes of Texas!</h2>
            <br />
            <p>
              <strong>Disclaimer: </strong>The information provided by the Texas Water Development Board and the Texas Natural Resources Information System (TNRIS) in the
              Lakes of Texas web application is for general informational purposes only. All information on the site/application is provided in good faith, however we
              make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability or completeness of
              any information on the site/application.
            </p>

            <!-- <img src="{% static 'map/images/modal_regions.png' %}" /> -->
            <!-- <p>
            Lakes are grouped by the Planning Region within which they reside. Click a Region in the map to view the available lakes and reservoirs within that region.
            </p> -->
            <div>
              <label class="form-check-label">
                <input id="modalHideCheckbox" class="form-check-input" type="checkbox" value="">
                Don't show this message again
              </label>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% leaflet_map "main" callback="main_map_init" %}
    <script type="text/javascript">
        function main_map_init (map, options) {
          L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}@2x.png').addTo(map);
          var account = 'tnris-flood'
          var tileLayer;
          var utfGrid;

          // var rwpasConfig = JSON.parse('{{ layers.rwpas }}'.replace(/&#39;/g, '"').replace(/&quot;/g, "'"));
          var reservoirsPointConfig = JSON.parse('{{ layers.reservoirs_point }}'.replace(/&#39;/g, '"').replace(/&quot;/g, "'"));

          function getTileUrls (config, regionLetter) {
            var css = config.carto_css;
            // css += config.carto_lbl;
            var interactivity = config.interactivity;

            var sql = `select * from ${config.table_name}`;

            var mapconfig = {
              "version": "1.3.1",
              "layers": [{
                "type": "mapnik",
                "options": {
                  "cartocss_version": "2.1.1",
                  "cartocss": css,
                  "sql": sql,
                  "interactivity": interactivity
                }
              }]
            }

            $.ajax({
              crossOrigin: true,
              type: 'POST',
              dataType: 'json',
              contentType: 'application/json',
              url: `https://${account}.carto.com/api/v1/map`,
              data: JSON.stringify(mapconfig),
              success: function(data) {
                var url = `https://${account}.carto.com/api/v1/map/` + data.layergroupid + '/{z}/{x}/{y}.png'
                tileLayer = new L.tileLayer(url);
                tileLayer.addTo(map);

                var gridUrl = `https://${account}.carto.com/api/v1/map/` + data.layergroupid + '/0/{z}/{x}/{y}.grid.json'
                utfGrid = new L.utfGrid(gridUrl);
                utfGrid.on('mouseover', function (e) {
                  $('.leaflet-container').css('cursor', 'pointer');
                });
                utfGrid.on('mouseout', function (e) {
                  $('.leaflet-container').css('cursor', '');
                });
                utfGrid.on('click', function (e) {
                  if (e.data) {
                    var regionLink = '/' + e.data.letter;
                    window.location.href = regionLink;
                  }
                });
                utfGrid.addTo(map);
              }
            })
          }

          // getTileUrls(rwpasConfig);
          getTileUrls(reservoirsPointConfig);
        }

        // show modal on load if localstorage doesn't say they've opt'd out
        $(function() {
          var version = '{{ version }}';
          if (!localStorage.lakeGalleryModal || localStorage.lakeGalleryModal != version) {
            $('#instructionModal').modal({
              show: true
            });

            $('#instructionModal').on('hide.bs.modal', function (e) {
              if ($('#modalHideCheckbox').is(":checked")) {
                localStorage.setItem('lakeGalleryModal', version);
              }
            });
          }
        });
    </script>
{% endblock %}
