{% extends 'map/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block content %}
    <!-- intro disclaimer modal shown if not stored in local storage -->
    {% include 'map/disclaimer.html' %}

    <!-- instruction modal template shown when #instructions-btn clicked above -->
    {% include 'map/instructions.html' %}

    <!-- search term notifications -->
    <div id="no-results" class="search-results-container">
      <p>
        <strong>No results. Try searching again or using the map to find a lake.</strong>
      </p>
    </div>

    <div id="many-results" class="search-results-container">
      <p>
        <strong><span id="search-num"></span> results. Try limiting your search with more text.</strong>
      </p>
    </div>
    <!-- end search term notifications -->

    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {
          L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}@2x.png').addTo(map);
          var account = 'tnris-flood'
          var pointLayer = "{{ layers.reservoirs_pt.table_name }}";
          var polyLayer = pointLayer;
          var lakeClusters;
          var pointUrl;
          var polyUrl;
          var clusterBounds = map.getBounds(lakeClusters);

          // set max bounds to lakeBounds so user can't pan outside of texas lakes area
          // padding added to bounds so max is not too restrictive
          map.setMaxBounds(clusterBounds.pad(0.2));

          // set max zoom level
          map.options.minZoom = map.getZoom() - 1;

          // easy button control to zoom to state extent
          L.easyButton("<img src={% static 'map/images/texas_solid_blk.png' %} style='width:auto; height:100%; opacity:1; padding: 3px;' title='Zoom to statewide extent' />", function(btn, map){
            map.fitBounds(lakeClusters.getBounds());
          }).addTo(map);

          // sql statements for the carto sql api
          var polySql = `SELECT * FROM ${polyLayer} WHERE story='enabled'`;
          var pointSql = `SELECT type, story, status, res_lbl, res_name, ST_PointOnSurface(the_geom) as the_geom FROM ${pointLayer} WHERE story='enabled'`;

          // popup and tooltip function to be used each time point/marker clicked/hovered over
          var lakePopup = function (feature, layer) {
            // bind popup to lake markers; based on window size (mobile vs desktop)
            // on desktop: open lake marker popup on mouse over; close on mouseout; click marker to go to story
            if (window.innerWidth > 991) {
              layer.bindPopup(
                `<p style="text-align:center;">
                  <b>${feature.properties.res_lbl}</b>
                </p>`
              );
              layer.on('mouseover', function (e) {
                this.openPopup();
              });
              layer.on('mouseout', function (e) {
                this.closePopup();
              });
              layer.on('click', function (e) {
                window.location.href = `/${feature.properties.res_lbl}`;
              });
            }
            // on mobile: open lake marker popup on click and click link in popup to go to story
            else {
              layer.bindPopup(
              `<p style="text-align:center;">
                <b><a href="/${feature.properties.res_lbl}">${feature.properties.res_lbl}</a></b>
              </p>`
              );
              layer.on('click', function (e) {
                this.openPopup();
              })
            }
          };

          // label function for polygon reservoir layer; contains label (permanent tooltip), popup content, & click to go to lake story
          var lakeLabel = function (feature, layer) {
            // bind tooltip label to lake polygons
            layer.bindTooltip(`
              <strong class="lake-label">
                ${feature.properties.res_lbl}
              </strong>`,
              {permanent: true}
            );

            // popup functionality for desktop
            if (window.innerWidth > 991) {
              // bind popup content to layer
              layer.bindPopup(
                `<p style="text-align:center;">Click <strong>${feature.properties.res_lbl}</strong><br /> to view the story.</p>`
              );
              // on hover lake polygon, show popup at cursor
              layer.on('mouseover', function (e) {
                var popup = e.target.getPopup();
                popup.setLatLng(e.latlng).openOn(map);
              });
              // close popup on mouse out at cursor
              layer.on('mouseout', function (e) {
                e.target.closePopup();
              });
              // follow the cursor
              layer.on('mousemove', function (e) {
                e.target.closePopup();
                var popup = e.target.getPopup();
                popup.setLatLng(e.latlng).openOn(map);
              });
              // on clicking a lake polygon go to the story
              layer.on('click', function (e) {
                window.location.href = `/${feature.properties.res_lbl}`;
              });
            }
            // popup functionality for mobile/smaller screens (hover doesn't work on mobile)
            else {
              layer.bindPopup(
              `<p style="text-align:center;">
                <b><a href="/${feature.properties.res_lbl}">${feature.properties.res_lbl}</a></b>
              </p>`
              );
              layer.on('click', function (e) {
                var popup = e.target.getPopup();
                popup.setLatLng(e.latlng).openOn(map);
              })
            }

          };

          // on map load use point sql for point/marker lake locations
          pointUrl = `https://${account}.carto.com/api/v2/sql?format=GeoJSON&q=${pointSql}`;
          polyUrl = `https://${account}.carto.com/api/v2/sql?format=GeoJSON&q=${polySql}`;

          // set up both point and poly layers; add point on initial load
          // then add/remove layer based on zoom level in map.on function
          $.getJSON(pointUrl, function (data) {
            lakeClusters = L.markerClusterGroup({
              spiderfyOnMaxZoom: true,
              maxClusterRadius: 100, // increase radius from default 80
              animate: true,
              showCoverageOnHover: true,
              zoomToBoundsOnClick: true,
              polygonOptions: {color: '#ffa64d'} // change default (blue) hover polygon to orange
            });
            pointLayer = L.geoJson(data, {
              onEachFeature: lakePopup
            });
            lakeClusters.addLayer(pointLayer);
            map.addLayer(lakeClusters);
          });
          // poly lake layer
          $.getJSON(polyUrl, function(data) {
            polyLayer = L.geoJson(data, {
              onEachFeature: lakeLabel
            });
          });

          // on map zoom, if zoom level greater than 9 use poly sql; else use point sql
          map.on('zoomend', function() {
            var zoomLevel = map.getZoom();

            if (zoomLevel > 9) {
              map.removeLayer(lakeClusters);
              polyLayer.addTo(map);
            }
            else {
              map.removeLayer(polyLayer);
              map.addLayer(lakeClusters);
            }
          });

          // index map search function (only on desktop) - if user searches a lake that is available,
          // zoom to the lake on the index/home map. if lake is unavailable, alert that says not available.
          // if multiple lakes return for search term, alert that says number of lakes and to refine
          // search terms.
          // NOTE: these element ids exist in base.html
          var searchButton = document.getElementById("lake-search-btn");
          var searchInput = document.getElementById("lake-search-input");

          searchButton.addEventListener("click", function(e) {
            if (!searchInput.value) {
              console.log('no input value');
              return;
            }
            else {
              var searchValue = searchInput.value.toUpperCase();
              var poly = polyLayer._layers;
              var matchArray = [];
              // create array of lakes that include search string
              for (var i in poly) {
                if (poly[i].feature.properties.res_name.includes(searchValue)) {
                  matchArray.push(poly[i]);
                }
              }
              // if one item in matchArray, zoom to bounds of lake
              if (matchArray.length == 1) {
                map.fitBounds(matchArray[0].getBounds());
              }
              // return alert that too many lakes matched search value
              else if (matchArray.length > 1) {
                $("#search-num").html(matchArray.length);
                $("#many-results").fadeIn();
                setTimeout(function() {
                  $("#many-results").fadeOut(2000);
                }, 1000);
              }
              // return alert that no lakes matched search term
              else if (matchArray.length == 0) {
                $("#no-results").fadeIn();
                setTimeout(function() {
                  $("#no-results").fadeOut(2000);
                }, 1000);
              }
              else {
                console.log('search error');
              }
            }
          });

          // if user clicks enter in search, function as if button was clicked
          searchInput.addEventListener("keyup", function(e) {
            // number 13 is the 'enter' key
            if (e.keyCode === 13) {
              e.preventDefault();
              // trigger the search button with click
              document.getElementById("lake-search-btn").click();
            }
          });
          // end search button function

          // set initial map bounds to lake cluster bounds
          // map.fitBounds(lakeClusters.getBounds());
          // map.fitBounds(clusterBounds);

        } //end main_map_init function

        // show modal on load if localstorage doesn't say they've opt'd out
        $(function() {
          var version = '{{ version }}';
          if (!localStorage.lakeGalleryModal || localStorage.lakeGalleryModal != version) {
            $('#disclaimerModal').modal({
              show: true
            });

            $('#disclaimerModal').on('hide.bs.modal', function (e) {
              if ($('#modalHideCheckbox').is(":checked")) {
                localStorage.setItem('lakeGalleryModal', version);
              }
            });
          }
          // show instruction modal on button click
          $('#instructions-btn').on('click', function (e) {
            if (!$('#instructionModal').hasClass('show')) {
              $('#instructionModal').modal({
                show: true
              });
            }
          })
        });

        // carto sql api call to get enabled story count and update counter
        // div in the upper right of the index/home map - only for desktop size
        // if (window.innerWidth > 991) {
        //   document.getElementsByClassName("count-container")[0].style.display = "block";
        //
        //   var sql = new cartodb.SQL({ user: 'tnris-flood' });
        //   sql.execute("SELECT COUNT(story) as lake_count FROM reservoirs WHERE story='enabled'")
        //   .done(function(data) {
        //     document.getElementById("count-output").innerHTML = data.rows[0].lake_count;
        //   })
        //   .error(function(errors) {
        //     // errors contains a list of errors
        //     console.log("errors:" + errors);
        //   });
        // }

        // switch out text in expand instructions button; expand/collapse
        // function changeBtnTxt() {
        //   var btn = document.getElementById("expand-collapse-btn");
        //   btn.innerText == "Show Instructions" ? btn.innerText = "Hide Instructions" : btn.innerText = "Show Instructions";
        // };

    </script>
{% endblock %}
