{% load static %}

{% block content %}

<div id="instructionModal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div id="instructionModalContent" class="modal-content">

      <div class="modal-header">
        <img class="img-fluid" style="max-width: 50px; margin-right: 20px;" src="{% static 'map/images/lot-logo.jpg' %}" </img>
        <h2 id="top" class="modal-title" style="align-text: center;">Instructions</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close instructions">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <p style="padding: 10px 10px 0 10px;">
          The following instructions are brief how-to steps to navigate the Lakes of Texas web application. The Index Map instructions provide information pertaining to
          the main home map which allows users to choose which lake story they would like to view. The Story Instructions provide information for after a user selects a
          lake story, showing how to navigate the page and use the tools available within the lake story view.
        </p>

        <div style="width:100%;">

          <button id="instruction-jump"
            style="text-align:center; margin:5px;"
            class="btn btn-link"
            type="button">
              <a href="#story-instructions"><small>Jump to Story Instructions</small></a>
          </button>

          <div id="index-instructions" style="margin:20px 0;">
            <h5 style="text-align:left; text-decoration:underline;">Index Map Instructions</h5>

            <div class="row">
              <div class="col-lg">
                <ol style="text-align:left;">
                  <li>Click a marker cluster to zoom closer to the area of those lake locations.</li>
                  <img class="img-fluid" src="{% static 'map/images/instructions-step1.gif' %}" />
                  <li>Hover over markers to view lake name and region.</li>
                  <img class="img-fluid" src="{% static 'map/images/instructions-step2.gif' %}" />
                  <li>Click a marker to go to a lake story.</li>
                  <img class="img-fluid" src="{% static 'map/images/instructions-step3.gif' %}" />
                  <li>Keep zooming to view lake polygons and hover mouse over lake to view information.</li>
                  <img class="img-fluid" src="{% static 'map/images/instructions-step4.gif' %}" />
                  <li>Click a lake to go to a story.</li>
                  <img class="img-fluid" src="{% static 'map/images/instructions-step5.gif' %}" />
                </ol>
              </div>
            </div>

            <button id="back-to-top"
              style="text-align:center; margin:5px;"
              class="btn btn-link"
              type="button">
                <a href="#top"><small>Back to top</small></a>
            </button>
          </div>

          <div id="story-instructions" style="margin:20px 0;">
            <h5 style="text-align:left; text-decoration:underline;">Story Instructions</h5>

            <div class="row">
              <div class="col-lg">
                <ol style="text-align:left;">
                  <li>Lake story content is in the left pane. A map with the lake boundary is in the right pane.</li>
                  <li>Click a content section header to jump to different sections of the story.</li>
                  <img class="img-fluid" src="{% static 'map/images/instructions-step6.gif' %}">
                  <li>In the map pane, there is a tools menu. Click a year in the slider tool to view historical imagery layers.</li>
                  <img class="img-fluid" src="{% static 'map/images/instructions-step7.gif' %}">
                  <li>Zooming and panning is enabled, but limited to near the selected lake. Use the 'Full Lake Extent' button to zoom back to the extent.</li>
                  <img class="img-fluid" src="{% static 'map/images/instructions-step8.gif' %}">
                  <li>Use the 'swiper' tool to view the changes between historical imagery layers and Google imagery.</li>
                  <img class="img-fluid" src="{% static 'map/images/instructions-step9.gif' %}">
                </ol>
              </div>
            </div>

            <button id="back-to-top"
              style="text-align:center; margin:5px;"
              class="btn btn-link"
              type="button">
                <a href="#top"><small>Back to top</small></a>
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
