{% extends 'map/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block content %}
  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <img src="" class="imagepreview" />
          <p class="imagepreview-caption" style="font-style: italic;"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="mobileContainer">
    <div class="row">
      <div class="togglerWrapper">
        <button class="btn" type="button" data-toggle="collapse" data-target="#mobileStoryPanelContainer" aria-expanded="false" aria-controls="mobileStoryPanelContainer" id="mobileStoryToggler">
          <img id="togglerImg" class="closed" src="{% static 'map/images/arrow-down.png' %}"/>
        </button>
      </div>
      <div class="collapse" id="mobileStoryPanelContainer">
        <div class="col-12 mobileStoryPanel">
          <div id="mobileCarouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
              <li data-target="#mobileCarouselIndicators" class="active"></li>
              {% if story.history %}
                <li data-target="#mobileCarouselIndicators"></li>
              {% endif %}
              {% if stats.general_stats %}
                <li data-target="#mobileCarouselIndicators"></li>
              {% endif %}
              {% if story.section_one_header %}
                <li data-target="#mobileCarouselIndicators"></li>
              {% endif %}
              {% if story.section_two_header %}
                <li data-target="#mobileCarouselIndicators"></li>
              {% endif %}
              {% if story.section_three_header %}
                <li data-target="#mobileCarouselIndicators"></li>
              {% endif %}
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="mobileStoryPage">
                  <h2 class="mobilePageHeader" id="Story">{{ lake }} Story Map</h2>
                  <div>{{ story.summary|safe }}</div>
                </div>
              </div>
              {% if story.history %}
                <div class="carousel-item">
                  <div class="mobileStoryPage">
                    <h2 class="mobilePageHeader" id="History">History of {{ lake }}</h2>
                    <div>{{ story.history|safe }}</div>
                  </div>
                </div>
              {% endif %}
              {% if stats.general_stats %}
                <div class="carousel-item">
                  <div class="mobileStoryPage">
                    <h2 class="mobilePageHeader" id="Statistics">{{ lake }} Statistics</h2>
                    <ul class="statsList">
                      {% if stats.original_name not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Original Name:</span>
                          {{ stats.original_name }}
                        </li>
                      {% endif %}
                      {% if stats.primary_purposes not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Primary Purposes:</span>
                          {{ stats.primary_purposes }}
                        </li>
                      {% endif %}
                      {% if stats.location not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Location:</span>
                          {{ stats.location }}
                        </li>
                      {% endif %}
                      {% if stats.construction_dates not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Construction Dates:</span>
                          {{ stats.construction_dates }}
                        </li>
                      {% endif %}
                      {% if stats.length_of_lake not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Length of Lake:</span>
                          {{ stats.length_of_lake }} miles
                        </li>
                      {% endif %}
                      {% if stats.miles_of_shoreline not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Miles of Shoreline:</span>
                          {{ stats.miles_of_shoreline }} miles
                        </li>
                      {% endif %}
                      {% if stats.maximum_width not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Maximum Width:</span>
                          {{ stats.maximum_width }} miles
                        </li>
                      {% endif %}
                      {% if stats.lake_area not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Lake Area:</span>
                          {{ stats.lake_area }} acres
                        </li>
                      {% endif %}
                      {% if stats.lake_capacity not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Lake Capacity:</span>
                          {{ stats.lake_capacity }} acre-feet
                        </li>
                      {% endif %}
                      {% if stats.full_elevation_msl not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Full Elevation:</span>
                          {{ stats.full_elevation_msl }} mean sea level (msl) ({{ stats.full_elevation_gal }} gallons of water)
                        </li>
                      {% endif %}
                      {% if stats.maximum_depth not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Maximum Depth:</span>
                          {{ stats.maximum_depth }} ft
                        </li>
                      {% endif %}
                      {% if stats.average_depth not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Average Depth:</span>
                          {{ stats.average_depth }} ft
                        </li>
                      {% endif %}
                      {% if stats.historic_high_msl not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Historic High:</span>
                          {{ stats.historic_high_msl }} feet msl on {{ stats.historic_high_date }}
                        </li>
                      {% endif %}
                      {% if stats.historic_low_msl not in stats.stat_defaults %}
                        <li>
                          <span class="statLabel">Historic Low:</span>
                          {{ stats.historic_low_msl }} feet msl on {{ stats.historic_low_date }}
                        </li>
                      {% endif %}
                    </ul>
                    {% if stats.dam_stats %}
                      <h5>Dam Statistics</h5>
                      <ul class="statsList">
                        {% if stats.dam_height not in stats.stat_defaults %}
                          <li>
                            <span class="statLabel">Dam Dimensions:</span>
                            {{ stats.dam_height }} feet high, {{ stats.dam_width }} feet long
                          </li>
                        {% endif %}
                        {% if stats.spillway_elevation not in stats.stat_defaults %}
                          <li>
                            <span class="statLabel">Spillway Elevation:</span>
                            {{ stats.spillway_elevation }} feet above msl
                          </li>
                        {% endif %}
                        {% if stats.top_of_dam not in stats.stat_defaults %}
                          <li>
                            <span class="statLabel">Top of Dam:</span>
                            {{ stats.top_of_dam }} feet above msl
                          </li>
                        {% endif %}
                        {% if stats.num_of_floodgates not in stats.stat_defaults %}
                          <li>
                            <span class="statLabel">Number of Floodgates:</span>
                            {{ stats.num_of_floodgates }}
                          </li>
                        {% endif %}
                        {% if stats.discharge_capacity not in stats.stat_defaults %}
                          <li>
                            <span class="statLabel">Total Discharge Capacity:</span>
                            <br />
                            {{ stats.discharge_capacity|safe }}
                          </li>
                        {% endif %}
                      </ul>
                    {% endif %}
                    {% if stats.wdft_link %}
                      <h5>Current Conditions</h5>
                      <img class="picZoom" src="{{ stats.wdft_link }}/recent-volume.png" />
                      <p style="text-align: center;">View all current conditions at <a href="{{ stats.wdft_link }}" target="wdft">waterdatafortexas.org</a></p>
                    {% endif %}

                    {% if high_events|length > 0 %}
                      <h5 class="rankedHeader">Top {{ high_events|length }} Highest Lake Levels</h5>
                      <table class="table rankedEvents">
                        <thead>
                          <tr>
                            <th>Rank</th>
                            <th>Date</th>
                            <th>Height*</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for e in high_events %}
                            <tr>
                              <th scope="row">{{ e.rank }}</th>
                              <td>{{ e.date }}</td>
                              <td>{{ e.height }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% endif %}
                    {% if low_events|length > 0 %}
                      <h5 class="rankedHeader">Top {{ low_events|length }} Lowest Lake Levels</h5>
                      <table class="table rankedEvents">
                        <thead>
                          <tr>
                            <th>Rank</th>
                            <th>Drought</th>
                            <th>Date</th>
                            <th>Height*</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for e in low_events %}
                            <tr>
                              <th scope="row">{{ e.rank }}</th>
                              <td>{{ e.drought }}</td>
                              <td>{{ e.date }}</td>
                              <td>{{ e.height }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% endif %}
                    {% if low_events|length > 0 or high_events|length > 0 %}
                      <p id="rankingFooter">*Height is represented as feet above mean sea level (MSL)</p>
                    {% endif %}
                  </div>

                </div>
              {% endif %}

              {% if story.section_one_header %}
                <div class="carousel-item">
                  <div class="mobileStoryPage">
                    <h2 class="mobilePageHeader" id="{{ story.section_one_nav|cut:' ' }}">{{ story.section_one_header }}</h2>
                    <div>{{ story.section_one_content|safe }}</div>
                  </div>
                </div>
              {% endif %}

              {% if story.section_two_header %}
                <div class="carousel-item">
                  <div class="mobileStoryPage">
                    <h2 class="mobilePageHeader" id="{{ story.section_two_nav|cut:' ' }}">{{ story.section_two_header }}</h2>
                    <div>{{ story.section_two_content|safe }}</div>
                  </div>
                </div>
              {% endif %}

              {% if story.section_three_header %}
                <div class="carousel-item">
                  <div class="mobileStoryPage">
                    <h2 class="mobilePageHeader" id="{{ story.section_three_nav|cut:' ' }}">{{ story.section_three_header }}</h2>
                    <div>{{ story.section_three_content|safe }}</div>
                  </div>
                </div>
              {% endif %}
            </div>
            <!-- <a class="carousel-control-prev" href="#mobileCarouselIndicators" role="button" data-slide="prev">
              <p>
                <img src="{% static 'map/images/glyphicons-arrow-left.png' %}"/>
                <span class="sr-only">Previous</span>
              </p>
            </a>
            <a class="carousel-control-next" href="#mobileCarouselIndicators" role="button" data-slide="next">
              <p>
                <img src="{% static 'map/images/glyphicons-arrow-right.png' %}"/>
                <span class="sr-only">Next</span>
              </p>
            </a> -->
          </div>


        </div>
      </div>
      <div class="col-12 mobileMapPanel">
        <input id="historicalSlider" type="text" style="display:none;"/>
        {% leaflet_map "mobileStoryMap" callback="main_map_init" %}
        <script type="text/javascript">

            function main_map_init (map, options) {
              var basemaps = {
                  'Google Imagery': new L.TileLayer.WMTS('https://txgi.tnris.org/login/path/source-blonde-xray-cheese/wmts', {
                      layer: 'texas',
                      style: "default",
                      tilematrixSet: "0to20",
                      format: "image/png",
                      attribution: '<a href="https://tnris.org/texas-imagery-service/" target="_blank">Google</a>'
                  })

                  // ,'Grayscale': L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}@2x.png')
              };
              var overlays = {};
              var lakeLayer;

              basemaps['Google Imagery'].addTo(map);

              var account = 'tnris-flood';
              var static_url = "{% static 'map/images/' %}";

              var resConfig = JSON.parse('{{ layer }}'.replace(/&#39;/g, '"').replace(/&quot;/g, "'"));
              var linkConfig = JSON.parse('{{ links }}'.replace(/&#39;/g, '"'));
              var overlayConfig = JSON.parse('{{ overlays }}'.replace(/&#39;/g, '"').replace(/&quot;/g, "'"));
              var overlayOrder = JSON.parse('{{overlay_order}}'.replace(/&#39;/g, '"'));
              var allOverlays = ['Google Imagery', '{{ lake }}'].concat(overlayOrder);
              var overlayQueryId = "{{ overlay_query }}";

              function loadOverlay (config) {
                var css = config.carto_css;
                if (config.carto_lbl) {
                  css += config.carto_lbl;
                }
                var sql = `select * from ${config.table_name} where lake_id = ${overlayQueryId}`;

                var mapconfig = {
                  "version": "1.3.1",
                  "layers": [{
                    "type": "mapnik",
                    "options": {
                      "cartocss_version": "2.1.1",
                      "cartocss": css,
                      "sql": sql
                    }
                  }]
                }

                $.ajax({
                  crossOrigin: true,
                  type: 'POST',
                  dataType: 'json',
                  contentType: 'application/json',
                  url: `https://${account}.carto.com/api/v1/map`,
                  data: JSON.stringify(mapconfig),
                  success: function(data) {
                    var url = `https://${account}.carto.com/api/v1/map/` + data.layergroupid + '/{z}/{x}/{y}.png'
                    var tileLayer = new L.tileLayer(url, {
                      attribution: '<a href="https://www.lcra.org" target="_blank">LCRA</a>'
                    });
                    overlays[config.toc_label] = tileLayer;
                    if (Object.keys(overlays).length == (allOverlays.length - 1)) {
                      // must re-sort the overlay object. although objects don't have orders, somehow
                      // leaflet controller recognizes the order in which the layers are added to the
                      // overlay object and z-indexes the layers based off of that. we re-order so
                      // point are on top of polygons
                      sortOverlays();
                    }
                  }
                })
              }

              function sortOverlays () {
                var sortedOverlays = {};
                var index = 1;
                function addSortedOverlay () {
                  if (index < allOverlays.length) {
                      var layerToLoad = allOverlays[index];
                      var overlayData = overlays[layerToLoad];
                      var htmlName;
                      // add img to layer control. ***IMG file name must be same as toc_label
                      if (layerToLoad == "{{ lake }}") {
                        htmlName = `<span>${layerToLoad}</span><br /><img src="${static_url}Lake.png" />`;
                      } else {
                        htmlName = `<span>${layerToLoad}</span><br /><img src="${static_url}${layerToLoad}.png" />`;
                      }
                      sortedOverlays[htmlName] = overlayData;
                      ++index;
                      addSortedOverlay();
                  }
                  else {
                    fireOverlays(sortedOverlays);
                  }
                }
                addSortedOverlay();
              }

              function fireOverlays (sortedOverlays) {
                var layerController = L.control.layers(basemaps, sortedOverlays, {
                  sortLayers: true,
                  sortFunction: function (lyr1, lyr2, name1, name2) {
                    var num = allOverlays.indexOf(name1) - allOverlays.indexOf(name2);
                    return num;
                  }
                });
                layerController.addTo(map);
                overlays['{{ lake }}'].addTo(map);
              }

              function getTileUrls (config, lakeName) {
                var css = config.carto_story_css;
                // var interactivity = config.interactivity;
                var sql = `select * from ${config.table_name} where res_lbl = '${lakeName}'`;
                var bb = {{ extent }};
                map.flyToBounds([[bb[1],bb[0]],[bb[3],bb[2]]]);
                L.easyButton("<img src={% static 'map/images/home.png' %} />", function(btn, map){
                  map.flyToBounds([[bb[1],bb[0]],[bb[3],bb[2]]]);
                }).addTo(map);

                var mapconfig = {
                  "version": "1.3.1",
                  "layers": [{
                    "type": "mapnik",
                    "options": {
                      "cartocss_version": "2.1.1",
                      "cartocss": css,
                      "sql": sql
                      // "interactivity": interactivity
                    }
                  }]
                }

                $.ajax({
                  crossOrigin: true,
                  type: 'POST',
                  dataType: 'json',
                  contentType: 'application/json',
                  url: `https://${account}.carto.com/api/v1/map`,
                  data: JSON.stringify(mapconfig),
                  success: function(data) {
                    var url = `https://${account}.carto.com/api/v1/map/` + data.layergroupid + '/{z}/{x}/{y}.png'
                    lakeLayer = new L.tileLayer(url);
                    overlays['{{ lake }}'] = lakeLayer;

                    // we added lake separately from other overlays since it uses a seperate config
                    // also, so that we could get the map bounds moving without waiting for all overlays
                    // to load
                    Object.keys(overlayConfig).forEach(function (key) {
                      loadOverlay(overlayConfig[key]);
                    });
                  }
                })
              }

              getTileUrls(resConfig, "{{ lake }}");

              function setupHistoricalSlider(links) {
                var topNaip = [];

                var ticks = [0];
                var labels = ['Off'];
                links.map(function(l, index) {
                  ticks.push(index + 1);
                  labels.push(l.year);

                  if (l.year == '2015' || l.year == '2016') {
                    topNaip.push(index + 1);
                  }
                });

                var len = ticks.length;

                $("#historicalSlider").slider({
                  tooltip: 'always',
                  value: 0,
                  ticks: ticks
                });

                var slideStart;
                var active = false;
                var secondBasemap;
                var historicalLayer;
                var sideBySideControl;

                $("#historicalSlider").on('change', function(e) {
                  slideStart = e.value.oldValue;
                });

                $("#historicalSlider").on('slideStop', function(e) {
                  if (active == true) {
                    map.removeLayer(secondBasemap);
                    map.removeLayer(historicalLayer);
                    map.removeControl(sideBySideControl);
                  }
                  if (e.value != 0) {
                    if (slideStart == 0) {
                      lakeLayer.remove();
                    }

                    secondBasemap = new L.TileLayer.WMTS('https://txgi.tnris.org/login/path/source-blonde-xray-cheese/wmts', {
                      layer: 'texas',
                      style: "default",
                      tilematrixSet: "0to20",
                      format: "image/png"
                    }).addTo(map);

                    var position = e.value - 1;

                    if (topNaip.indexOf(e.value) >= 0) {
                      historicalLayer = L.tileLayer.wms(linkConfig[position]['link'], {layers: '0'}).addTo(map);
                    }
                    else {
                      historicalLayer = L.esri.tiledMapLayer({'url':linkConfig[position]['link']}).addTo(map);
                    }

                    sideBySideControl = L.control.sideBySide(basemaps['Google Imagery'], [secondBasemap, historicalLayer]).addTo(map);
                    active = true;

                    $('input.leaflet-sbs-range').mousedown(function(e){
                        e.stopPropagation();
                    });
                  }
                });

              }

              if (linkConfig.length > 0) {
                $("#historicalSlider").css('display', 'block');
                setupHistoricalSlider(linkConfig);
              }
            }

            // setup picture modal event to populate image in modal dynamically
            $(function() {
                $('.picZoom').on('click', function() {
                  $('.imagepreview').attr('src', $(this)[0]['src']);
                  $('.imagepreview-caption').html($(this).next().html());
                  $('#imagemodal').modal('show');
                });

                // swap out story toggler icon for map button
                $('#mobileStoryToggler').on('click', function() {
                  var img = $('#togglerImg');
                  var className = img[0]['className'];
                  var static_url = "{% static 'map/images/' %}";
                  if (className == 'closed') {
                    img.attr('src', static_url + "arrow-up.png");
                    img.removeClass('closed');
                  }
                  else {
                    img.attr('src', static_url + "arrow-down.png");
                    img.addClass('closed');
                  }
                });

                // enable swipe on carousel
                var carouselElement = document.getElementById("mobileCarouselIndicators");
                var hammertime = new Hammer(carouselElement);
                hammertime.on('swipe', function(ev) {
                  if (ev.direction == 2) {
                    $("#mobileCarouselIndicators").carousel('next');
                  }
                  else if (ev.direction == 4) {
                    $("#mobileCarouselIndicators").carousel('prev');
                  }
                });
            });
        </script>
      </div>
    </div>
  </div>
{% endblock %}
