{% load static %}

{% block content %}

<div id="story-instruction-mobile-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div id="mobile-modal-content" class="modal-content">

      <div class="modal-header">
        <img class="img-fluid" style="max-width: 50px; margin-right: 20px;" src="{% static 'map/images/lot-logo.jpg' %}" </img>
        <h2 class="modal-title" style="align-text: center;">Lake Story Map - Mobile Instructions</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close instructions">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="story-modal-body" class="modal-body">
        <div class="row">
          <div class="col-sm">
            <p>
              <strong style="color:red;">Important:</strong> The lake story map requires the use of two fingers to pan and zoom around the lake area on a mobile device.
            </p>

            <p>
              The map has restricted bounds based on each lakes' boundary. The map also has restricted minimum zoom (how far you can zoom out).
            </p>

            <p>
              To view the available tools in a lake story view, click the tools menu icon in the top right of the map.
              <img class="img-fluid" style="max-width:25px;" src="{% static 'map/images/tools-menu.png' %}" </img>
            </p>

            <p>
              In the tools menu under the time slider, some lakes have hyperlinked years that will send you to that specific historical imagery collection
              via the <a href="https://data.tnris.org" target="_blank">TNRIS DataHub</a>. To view an available historical imagery collection for a lake story:
            </p>
            <ol>
              <li>Open the tools menu in the top right of the story map by clicking/touching the menu icon.</li>
              <li>Click/touch a year on the time slider to overlay a historical imagery layer to the map.</li>
              <li>Click/touch the same year again in the time slider. If there is an available collection for that year, a new browser tab will open and send you to that historical imagery page on the DataHub.</li>
            </ol>

            <p>
              For any other questions or concerns, please read through the Lakes of Texas <a id="about-link" href="">About</a> page and use the <a id="contact-link" href="">Contact</a>
              form if you would like to reach out to TNRIS.
            </p>

            <div id="story-dismiss" style="text-align: center;" class="container">
              <div class="row">
                <div class="col-md">
                  <label class="form-check-label">
                    <input id="mobileModalHideCheckbox" class="form-check-input" type="checkbox" value="">
                    Don't show this message again
                  </label>
                </div>
              </div>
              <div style="padding-top:10px;" class="row">
                <div class="col-md">
                  <button id="dismiss-modal-btn" type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>

  // hide the close button and dont show this message again only in the About page Instruction section
  window.location.pathname.includes("about") ? document.getElementById("story-dismiss").style.display = "none" : "";

  // switch out href for instruction modal id about-link based on current location.pathname
  !window.location.pathname.includes("about") ? document.getElementById("about-link").href = "/about" : "";
  !window.location.pathname.includes("about") ? document.getElementById("contact-link").href = "/about/#Contact" : "";

</script>

{% endblock %}
