{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'map/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'map/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'map/favicon/favicon-16x16.png' %}">
{% endblock %}

{% block extrastyle %}{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'map/admin_style.css' %}" />
{% endblock %}

{% block branding %}
	<h1 id="site-name">
		<img class="adminHeaderLogo" src="{% static 'map/images/lot.png' %}" />
		<a id="brandTitle" href="{% url 'admin:index' %}">Lakes of Texas - Administration</a>
	</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
